version: '3.3'
services:
  db:
    restart: always
    ports:
      - 5432:5432
    #network_mode: "host"
    image: postgres
    environment:
      POSTGRES_PASSWORD: example

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db